@import '@fontsource/fira-mono';
@import 'tailwindcss';

@import 'flowbite/src/themes/default';
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #fff5f2;
	--color-primary-100: #fff1ee;
	--color-primary-200: #ffe4de;
	--color-primary-300: #ffd5cc;
	--color-primary-400: #ffbcad;
	--color-primary-500: #fe795d;
	--color-primary-600: #ef562f;
	--color-primary-700: #eb4f27;
	--color-primary-800: #cc4522;
	--color-primary-900: #a5371b;

	--color-secondary-50: #f0f9ff;
	--color-secondary-100: #e0f2fe;
	--color-secondary-200: #bae6fd;
	--color-secondary-300: #7dd3fc;
	--color-secondary-400: #38bdf8;
	--color-secondary-500: #0ea5e9;
	--color-secondary-600: #0284c7;
	--color-secondary-700: #0369a1;
	--color-secondary-800: #075985;
	--color-secondary-900: #0c4a6e;
}

@source '../../node_modules/flowbite-svelte/dist';
@source '../../node_modules/flowbite-svelte-icons/dist';

@layer base {
	:root {
		--font-body:
			Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
			'Open Sans', 'Helvetica Neue', sans-serif;
		--font-mono: 'Fira Mono', monospace;
		--color-bg-0: rgb(202, 216, 228);
		--color-bg-1: hsl(209, 36%, 86%);
		--color-bg-2: hsl(224, 44%, 95%);
		--color-theme-1: #ff3e00;
		--color-theme-2: #4075a6;
		--color-text: rgba(0, 0, 0, 0.7);
		--color-border: rgba(47, 47, 47, 1);
		--column-width: 42rem;
		--column-margin-top: 4rem;
		font-family: var(--font-body);
		color: var(--color-text);
	}

	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}

	button {
		cursor: pointer;
	}

	body {
		min-height: 100vh;
		margin: 0;
		background-attachment: fixed;
		background-color: var(--color-bg-1);
		background-size: 100vw 100vh;
		background-image:
			radial-gradient(
				50% 50% at 50% 50%,
				rgba(255, 255, 255, 0.75) 0%,
				rgba(255, 255, 255, 0) 100%
			),
			linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
	}

	h1,
	h2,
	p {
		font-weight: 400;
	}

	p {
		line-height: 1.5;
	}

	a {
		color: var(--color-theme-1);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	h1 {
		font-size: 2rem;
		text-align: center;
	}

	h2 {
		font-size: 1rem;
	}

	pre {
		font-size: 16px;
		font-family: var(--font-mono);
		background-color: rgba(255, 255, 255, 0.45);
		border-radius: 3px;
		box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
		padding: 0.5em;
		overflow-x: auto;
		color: var(--color-text);
	}

	input,
	button {
		font-size: inherit;
		font-family: inherit;
	}

	button:focus:not(:focus-visible) {
		outline: none;
	}
}

@layer components {
	.text-column {
		display: flex;
		max-width: 48rem;
		flex: 0.6;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
	}

	.visually-hidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: auto;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		white-space: nowrap;
	}

	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 2rem 1rem;
	}
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
