$breakpoint-names: 'xxs', 'xs', 'sm', 'md', 'lg', 'xl', 'xxl';
$directions: 'b', 't', 'l', 'r', 'x', 'y';
$align: 'start', 'center', 'end', 'stretch', 'baseline';

$transparencies: 0, 25, 50, 75, 100;
$integers: 1, 2, 3, 4, 5, 6, 7, 8, 9;
$sizes: 0, 2, 4, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42;
