@use 'variables' as *;

.block {
	display: block;
}
.flex {
	display: flex;
}
.flex-col {
	flex-direction: column;
}
.inline-flex {
	display: inline-flex;
}
.flex-row {
	flex-direction: row;
}
.grid {
	display: grid;
}
.justify-center {
	justify-content: center;
}
.justify-items-between {
	justify-items: space-between;
}
.items-center {
	align-items: center;
}

.grid-flow-cols {
	grid-auto-flow: column;
}
.grid-flow-rows {
	grid-auto-flow: row;
}
.h-full {
	height: 100%;
}
.w-full {
	width: 100%;
}
.relative {
	position: relative;
}

@each $size in $integers {
	.gap-#{$size} {
		gap: #{$size * 0.25}rem;
	}
	.grid-cols-#{$size} {
		grid-template-columns: repeat(#{$size}, minmax(0, 1fr));
	}
	.grid-rows-#{$size} {
		grid-template-rows: repeat(#{$size}, minmax(0, 1fr));
	}
}

@each $direction in $directions {
	@each $size in $sizes {
		.p-#{$direction}-#{$size} {
			@if $direction == b {
				padding-bottom: #{$size * 0.25}rem !important;
			} @else if $direction == t {
				padding-top: #{$size * 0.25}rem !important;
			} @else if $direction == l {
				padding-left: #{$size * 0.25}rem !important;
			} @else if $direction == r {
				padding-right: #{$size * 0.25}rem !important;
			} @else if $direction == x {
				padding-left: #{$size * 0.25}rem !important;
				padding-right: #{$size * 0.25}rem !important;
			} @else if $direction == y {
				padding-top: #{$size * 0.25}rem !important;
				padding-bottom: #{$size * 0.25}rem !important;
			}
		}
		.m-#{$direction}-#{$size} {
			@if $direction == b {
				margin-bottom: #{$size * 0.25}rem !important;
			} @else if $direction == t {
				margin-top: #{$size * 0.25}rem !important;
			} @else if $direction == l {
				margin-left: #{$size * 0.25}rem !important;
			} @else if $direction == r {
				margin-right: #{$size * 0.25}rem !important;
			} @else if $direction == x {
				margin-left: #{$size * 0.25}rem !important;
				margin-right: #{$size * 0.25}rem !important;
			} @else if $direction == y {
				margin-top: #{$size * 0.25}rem !important;
				margin-bottom: #{$size * 0.25}rem !important;
			}
		}
	}
}
